:root {
    --menu-transition-property: cubic-bezier(.2, 0, 0, 1);
}

.main-wrapper {
    border-radius: 2rem 0 0 0 !important;
    transition: border-radius .2s var(--menu-transition-property);
}

eui-app-nav.expanded+.app-wrapper>.main-wrapper {
    border-radius: 1rem !important;
}

.app-wrapper {
    padding: var(--titlebar-height) 0 calc(var(--tab-bar-height) + 0rem) 0 !important;
    padding-left: 0 !important;
    transition: margin-left .2s var(--menu-transition-property), padding .2s var(--menu-transition-property) !important;
}

eui-app-nav.expanded+.app-wrapper {
    margin-left: var(--nav-expanded-width);
    padding: var(--titlebar-height) .5rem calc(var(--tab-bar-height) + .5rem) .5rem !important;
}

.eui-page {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    height: max-content;
}

.button-link:hover {
    text-decoration: none;
}

.button-link {
    display: block;
    width: fit-content;
}

.flex-card {
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--app-200);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-card.row {
    flex-direction: row;
}

.flex-card.c {
    justify-content: center;

}

.flex-card.outlined {
    border: 1px solid var(--app-300);
    background-color: transparent;
}

.flex-card p {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}